<div class="header bg-main" style="background-color:#F2F9FD ">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="/static/5.jpg" class="radius-circle rotate-hover" height="50" alt=""><font color="black">图书管理系统</font></h1>
  </div>
  <div class="head-l">
      <a class="button button-little bg-green" href="/index/" target="_blank"><span class="icon-home"></span> 前台首页</a>
      &nbsp;&nbsp;
      <a class="button button-little bg-red" href="login"><span class="icon-power-off"></span> 退出登录</a>&emsp;&emsp;


  </div>
</div>