<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list" style="color: black"></span><font color="black">菜单列表</font></strong></div>
  <h2><span class="icon-user"></span>专区选择</h2>
    <ul style="display:block">
        <li><a href="kids" target="right"><span class="icon-caret-right"></span>儿童专区</a></li>
        <li><a href="education" target="right"><span class="icon-caret-right"></span>教育专区</a></li>
        <li><a href="life" target="right"><span class="icon-caret-right"></span>生活专区</a></li>
        <li><a href="science" target="right"><span class="icon-caret-right"></span>科技专区</a></li>
      </ul>
  <h2><span class="icon-check-square-o"></span>基本功能</h2>
  <ul>
    <li><a href="allbook" target="right"><span class="icon-caret-right"></span>所有图书</a></li>
    <li><a href="borrowbooktop" target="right"><span class="icon-caret-right"></span>借书排行榜</a></li>
    <li><a href="myinfo" target="right"><span class="icon-caret-right"></span>个人信息</a></li>
    <li><a href="findbook" target="right"><span class="icon-caret-right"></span>查询图书</a></li>
    <li><a href="borrowbook" target="right"><span class="icon-caret-right"></span>借书</a></li>
    <li><a href="returnbook" target="right"><span class="icon-caret-right"></span>还书</a></li>
    <li><a href="changemyinfo" target="right"><span class="icon-caret-right"></span>完善个人信息</a></li>
    <li><a href="punish" target="right"><span class="icon-caret-right"></span>逾期惩罚</a></li>
  </ul>
  <h2><span class="icon-pencil-square-o"></span>附加功能</h2>
  <ul>
    <li><a href="wish_list" target="right"><span class="icon-caret-right"></span>心愿单</a></li>
    <li><a href="about_our" target="right"><span class="icon-caret-right"></span>关于我们</a></li>
  </ul>
</div>